<% form_id = "alternative_#{alternative.id}_evaluation" %>
<%= form_for alternative.critical_evaluations.last || alternative.critical_evaluations.build, 
                            :data => { :scale => scale, :label_class => "label-alternative" }, 
                            :html => {:id => form_id, :class => "evaluation_form"} do |f| %>
  <%= f.hidden_field :alternative_id, :value => alternative.id %>
  <%= f.hidden_field :score, :id => form_id + "_score" %>
<% end %>

<div class="pull-right">
  <span class="fa-stack rating_score" id="<%= form_id %>_0" data-value="0" data-form-id="<%= form_id %>">
    <i class="fa fa-circle fa-default fa-stack-2x"></i>
    <i class="fa fa-circle-o fa-stack-1x fa-inverse"></i>
  </span>
  <% (1..scale).each do |i| %>
    <span class="label-default rating_score" id="<%= form_id %>_<%= i %>" data-value="<%= i %>" data-form-id="<%= form_id %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <% end %>
</div>