<% form_id = "#{showable.class.to_s.downcase}_#{showable.id}_evaluation" %>
<%= form_for showable.evaluations.last || showable.evaluations.build, :html => {:id => form_id, :class => "evaluation_form"} do |f| %>
  <%= f.hidden_field :rateable_id, :value => showable.id %>
  <%= f.hidden_field :score, :id => form_id + "_score" %>
  <%= f.hidden_field_tag 'showable', showable.class %>
<% end %>

  <div class="pull-right">
    <span class="fa-stack rating_score" id="<%= form_id %>_0"data-value="0" data-form-id="<%= form_id %>">
      <i class="fa fa-circle fa-default fa-stack-2x"></i>
      <i class="fa fa-times fa-stack-1x fa-inverse"></i>
    </span>
    <% (1..max).each do |i| %>
      <span class="label-default rating_score" id="<%= form_id %>_<%= i %>" data-value="<%= i %>" data-form-id="<%= form_id %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <% end %>
  </div>