<% @user.own_alternatives.each do |alternative| %>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="panel-title">
        <div class="row">
          <div class="col-xs-10 text-left">
            Which of <%= display_name_for(@user) %> traits are critical to <%= alternative.name.downcase %>? How big their impact?
          </div>
          <div class="col-xs-2 text-right" id="counter-<%= @user.own_alternatives.index(alternative) %>">
            <%= render partial: 'critical_points/counter', locals: { alternative: alternative, user: current_user } %>
          </div>
        </div>  
      </div>
    </div>
    <div class="panel-body">
      <% if ( alternative.critical_points.proposed_by(@user).count >= 7 ) && ( @user == current_user )%>
        <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              Evaluate alternative regarding stated critical points
            </div>
            <div class="col-md-4 col-sm-4">
              <%= render partial: 'evaluations/critical_scale', locals: { :alternative => alternative, :scale => 4 } %>
            </div>
          </div>
        </li>
      </ul>
      <% end %>
      <ul class="list-group" id="critical-points-<%= @user.own_alternatives.index(alternative) %>">
        <%= render partial: "critical_point", collection: alternative.critical_points.proposed_by(current_user) %>
      </ul>
    </div>   
    <div class="panel-body">
      <div class="row">
        <% @traits.each do |trait| %>  
          <div class="col-md-4 col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading clearfix">
                <div class="panel-title pull-left">
                  <%= trait.capitalize %>
                </div>
              </div>
              <div class="panel-body">
                <%= render partial: "traits", object: trait, locals: { :alternative => alternative } %>
              </div>
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
<% end %>



<% if @user != current_user %>
  <% content_for :right_menu do %>
    <%= render 'users/profile' %>
  <% end %>
<% else %>
    <% content_for :right_menu do %>
      <%= render 'shared/proposals' %>
    <% end %>
<% end %>