<% current_user.own_alternatives.each do |alternative| %>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="panel-title pull-left">
        Which of your traits are critical to <%= alternative.name %>?
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-group" id="critical-points-<%= current_user.own_alternatives.index(alternative) %>">
        <%= render partial: "critical_point", collection: alternative.critical_points %>
      </ul>
    </div>   
    <div class="panel-body">
      <div class="row">
        <% @traits.each do |trait| %>  
          <div class="col-md-4 col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading clearfix">
                <div class="panel-title pull-left">
                  <%= trait.capitalize %>
                </div>
              </div>
              <div class="panel-body">
                <%= render partial: "traits", object: trait, locals: { :alternative => alternative } %>
              </div>
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
<% end %>  