<div id="friend-lookup">
  <%= form_tag search_friends_path, remote: true, method: :get, id: 'friend-lookup-form' do %>
    <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <%= text_field_tag :search_param, params[:search_param], placeholder: 'First Name, Last Name or Email',
                                                autofocus: true,
                                                class: 'form-control search-box input-lg' %>
        </div>
        <div class="col-md-12 form-group">
            &nbsp;
        </div>
        <div class="col-md-12">
          <%= button_tag(type: :submit, class: 'btn btn btn-success') do %>
            <i class='fa fa-search'></i> Look up a friend
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  
  <%= render 'common/spinner' %>
  
  
  </div>
<% if @users %>
  <% if @users.size > 0 %>
    <div id="friend-lookup-results">    
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="3" class="page-header">
              <h2>Search results</h2>
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td>
                <%= link_to "View profile", user_path(user), class: "btn btn-xs btn-primary" %>
                <% if current_user.not_friends_with?(user.id) %>
                    <%= link_to "Add as my friend", add_friend_path(user: current_user, email: user.email),
                                                  class: 'btn btn-xs btn-primary', method: :post, remote: true %>
                <% else %>
                  <button class="btn btn-success btn-xs">You are friends</button>
                <% end %>
              </td>
            </tr>
          <% end %>  
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="panel-body">
      <p class="lead col-md-12">
        No people match this search criteria
      </p>
    </div>
  <% end %>
<% end %>
<div id="friend-lookup-errors"></div>