<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title pull-left" style="padding-top:6px;">
          Propose alternatives for <%= @user.first_name %>
        </div>
        <div class="btn-group pull-right">
          <%= link_to root_path, class: "btn btn-default", id: "toggle-alternatives", remote: true  do %>
            <span id="toggle-alternatives-label">Collapse</span>
          <% end %>
        </div>
      </div>
      <div class="panel-body" id="alternatives-body">
        <%= render 'alternatives/form' %>
        <hr>
          <ul class="list-group" id="alternatives-listing">
            <%= render @alternatives %> 
          </ul>  
      </div>  
    </div>  
  </div>
  <div class="col-md-12">
    <%= render 'mirror/list', :showable => "strengths" %>
  </div>
  <div class="col-md-12">
    <%= render 'mirror/list', :showable => "weaknesses" %>
  </div>
</div>

<% content_for :right_menu do %>
  <%= render 'users/profile' %>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to 'Propose critical points', propose_critical_points_users_path(:proposer_id => @user.id), class: "btn btn-success" %>
    </div>
    <div class="col-md-12 text-center">
      <%= link_to 'Propose requirements', propose_requirements_users_path(:proposer_id => @user.id), class: "btn btn-success" %>
    </div>
  </div>
<% end %>