<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title pull-left">
          Define and evaluate your alternatives
        </div>
      </div>
      <div class="panel-body" id="alternatives-body">
        <%= render 'alternatives/form' %>
        <hr>
          <ul class="list-group" id="alternatives-listing">
            <%= render @alternatives %> 
          </ul>  
      </div>  
    </div>  
  </div>
  <div class="col-md-12">
    <%= render 'friends/contacts', :showable => "alternatives" %>
  </div>
</div>

<!-- RIGHT MENU -->
<% content_for :right_menu do %>
  <%= render 'common/proposals', :showable => "alternatives" %>
  <%= render 'friends/inviting' %>
<% end %>