<h3>Define and evaluate your alternatives</h3>
  <%= form_for @alternative, url: {action: "create"}, html: { role: "form" } do |t| %>
    <div="form-group">
      <div class="row">
        <div class="col-md-6">
          <%= t.text_field :name, class: "form-control input-lg", placeholder: "Type your alternative here" %>
        </div>
        <div class="col-md-3">
          <%= t.submit 'Add', class: "btn btn-primary btn-lg" %>
        </div>  
      </div>
    </div>  
  <% end %>


<div class="row">
  <div class="col-lg-5">
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2">Your current alternatives</th>
          <th>Evaluation</th>
        </tr>
      </thead>
      <tbody>
        <% @alternatives.each do |alternative| %>
          <tr>
            <td>
              <%= link_to alternative_path(alternative), method: :delete, 
                          data: { confirm: 'Are you sure you want to delete this alternative and all its evaluations?' } do %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </td>
            <td><%= alternative.name %></td>
            <td>
              <div class="row">
                <% (1..3).each do |i| %>
                  <div class="col-md-1"><i class="fa fa-star-o" aria-hidden="true"></i></div>
                <% end %>
              </div>  
            </td>
          </tr>  
            <% end %>  
      </tbody>
    </table>
  </div>
  <div class="col-lg-3">
    <br />
    <br />
    <br />
    <div class="panel panel-default devise-bs">
      <div class="panel-heading panel-heading-proposals">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle dropdown-toggle-proposals" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Examples and proposals<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><strong>Examples by Choisys</strong></a></li>
              <li><%= link_to 'Simple examples', root_path %></li>
              <li><%= link_to 'Complex examples', root_path %></li>
              <li role="separator" class="divider"></li>
              <li><a href="#"><strong>Proposals by users</strong></a></li>
              <li><a href="#"><i>No proposals yet</i></a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Ask for proposals', root_path, class: "btn btn-s btn-success" %></li>
            </ul>
          </li>  
        </ul>  
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Simple examples by Choisys</th>
            </tr>  
          </thead>
          <tbody>
              <tr>
                <td>Something</td>
              </tr>
              <tr>
                <td>Something</td>
              </tr>
              <tr>
                <td>Something</td>
              </tr>
              <tr>
                <td>Dark side</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>