<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alternative.name %>
</p>

<p>
  <strong>Proposed by:</strong>
  <%= @alternative.proposed_by %>
</p>

<p>
  <strong>User:</strong>
  <%= @alternative.user %>
</p>

<%= link_to 'Edit', edit_alternative_path(@alternative) %> |
<%= link_to 'Back', alternatives_path %>
