<div class="row">
  <div class="col-md-12">
    <%= render 'list', :showable => "strengths" %>
  </div>
  <div class="col-md-12">
    <%= render 'list', :showable => "weaknesses" %>
  </div>
</div>

<%= content_for :right_menu do %>
  <%= render 'common/proposals', :showable => "strengths" %>
  <span id="contacts-listing">
    <%= render 'friends/contacts', :showable => "strengths" %>
  </span>
  <%= render 'friends/inviting' %>
<% end %>