<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Menu</h3>
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to '<i class="fa fa-navicon fa-fw" aria-hidden="true"></i> Alternatives'.html_safe, alternatives_path %></li>
      <li><%= link_to '<i class="fa fa-eye fa-fw" aria-hidden="true"></i> Mirror'.html_safe, root_path %></li>
      <li><%= link_to '<i class="fa fa-star fa-fw" aria-hidden="true"></i> Critical points'.html_safe, root_path %></li>
      <li><%= link_to '<i class="fa fa-file-text fa-fw" aria-hidden="true"></i> Requirements'.html_safe, root_path %></li>
      <li><%= link_to '<i class="fa fa-trophy fa-fw" aria-hidden="true"></i> Decision'.html_safe, root_path %></li>
      <li>------------------------</li>
      <li><%= link_to '<i class="fa fa-user fa-fw" aria-hidden="true"></i> My friends'.html_safe, my_friends_path %></li>

    </ul>
  </div><!--/.well -->
</div><!--/span-->