<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Menu</h3>
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to "Alternatives", "/path1"  %></li>
      <li><%= link_to "Mirror", "/path2"  %></li>
      <li><%= link_to "Critical points", "/path3"  %></li>
      <li><%= link_to "Requirements", "/path3"  %></li>
      <li><%= link_to "Result", "/path3"  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->